{% extends 'category.html' %}
{% load static %}
{% block metadescription %}


{% endblock %}
{% block title %}
   Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for :<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for movie in movies %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
            <div class="card text-center" style="min-width:9rem;">
                <a href="{{movie.get_url}}"><img class="card-img-top my_image" src="{{movie.image.url}}" width="10px;" height="550px;" alt="{{movie.name}}" ></a>
            <div class="card-body">
                <h4>{{movie.name}}</h4>

            </div>
            </div>

        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text"> 0 results found</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
